@import './variable';


// Google Fonts Import

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

// Import pe7-icon from node_modules

$pe-7s-font-path: "../../node_modules/pe7-icon/dist/fonts" !default;

@import "../../node_modules/pe7-icon/dist/scss/pe-icon-7-stroke.scss";




